
.icon-mytripe:before { content: '\e800'; } /* '' */
.icon-mytripf:before { content: '\e801'; } /* '' */
.icon-bookmarkf:before { content: '\e802'; } /* '' */
.icon-bookmarke:before { content: '\e803'; } /* '' */
.icon-share:before { content: '\e804'; } /* '' */
.icon-tv:before { content: '\e805'; } /* '' */
.icon-stare:before { content: '\e806'; } /* '' */
.icon-starf:before { content: '\e807'; } /* '' */
.icon-tell:before { content: '\e808'; } /* '' */
.icon-website:before { content: '\e809'; } /* '' */
.icon-photo:before { content: '\e80a'; } /* '' */
.icon-adress:before { content: '\e80b'; } /* '' */
.icon-video:before { content: '\e80c'; } /* '' */
.icon-360:before { content: '\e80d'; } /* '' */
.icon-location:before { content: '\e80e'; } /* '' */
.icon-:before { content: '\e80f'; } /* '' */
.icon-souvenir:before { content: '\e810'; } /* '' */
.icon-restaurant:before { content: '\e811'; } /* '' */
.icon-carrepair:before { content: '\e812'; } /* '' */
.icon-gasstation:before { content: '\e813'; } /* '' */
.icon-wc:before { content: '\e814'; } /* '' */
.icon-safarnameh:before { content: '\e815'; } /* '' */
.icon-restarea:before { content: '\e816'; } /* '' */
.icon-mosque:before { content: '\e817'; } /* '' */
.icon-arrowleft:before { content: '\e818'; } /* '' */
.icon-arrowright:before { content: '\e819'; } /* '' */
.icon-info:before { content: '\e81a'; } /* '' */
.icon-emoji:before { content: '\e81b'; } /* '' */
.icon-more:before { content: '\e81c'; } /* '' */
.icon-likee:before { content: '\e81d'; } /* '' */
.icon-likef:before { content: '\e81e'; } /* '' */
.icon-dislikee:before { content: '\e81f'; } /* '' */
.icon-dislikef:before { content: '\e820'; } /* '' */
.icon-commente:before { content: '\e821'; } /* '' */
.icon-commentf:before { content: '\e822'; } /* '' */
.icon-nearme:before { content: '\e823'; } /* '' */
.icon-report:before { content: '\e824'; } /* '' */
.icon-close:before { content: '\e825'; } /* '' */
.icon-facebook:before { content: '\e826'; } /* '' */
.icon-twitter:before { content: '\e827'; } /* '' */
.icon-whatsapp:before { content: '\e828'; } /* '' */
.icon-telegram:before { content: '\e829'; } /* '' */
.icon-copy:before { content: '\e82a'; } /* '' */
.icon-hotel:before { content: '\e82b'; } /* '' */
.icon-food:before { content: '\e82c'; } /* '' */
.icon-attraction:before { content: '\e82d'; } /* '' */
.icon-bnb:before { content: '\e82e'; } /* '' */
.icon-adventure:before { content: '\e82f'; } /* '' */
.icon-handmade:before { content: '\e830'; } /* '' */
.icon-mobile:before { content: '\e831'; } /* '' */
.icon-envelope:before { content: '\e832'; } /* '' */
